[Unit]
Description=WatchFollowFollower
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=%WorkingDirectory%
ExecStart=%WorkingDirectory%/run.sh
Restart=no
Type=oneshot

[Install]
WantedBy=multi-user.target
